@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap");

nav#menu_nav {
  align-self: center;
  align-content: center;
}

nav#menu_nav ul li {
  margin-left: 75px;
  margin-right: 75px;
  display: inline-block;
}

nav#menu_nav ul li a:hover {
  color: #f35954;
}

nav#menu_nav ul li a {
  font-weight: bolder;
  font-family: "Open Sans", sans-serif;
  font-size: 20pt;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  display: inline;
}

.normalUl li {
  font-weight: bolder;
  font-family: "Open Sans", sans-serif;
  font-size: 20pt;
}

nav#menu_nav ul {
  width: max-content;
  align-items: center;
}

.header {
  font-weight: bolder;
  font-size: 50pt;
  color: #f35954;
  font-family: "Open Sans", sans-serif;
}

.axis li a {
  font-weight: bolder;
  font-family: "Open Sans", sans-serif;
  font-size: 20pt;
}

.imageDiv img {
  max-width: 100%;
}

.imageDiv {
  width: 100%;
}

.textDiv {
  width: 100%;
}

section.rightSections {
  display: flex;
}

section.leftSections {
  display: flex;
}

.h2Subtitle {
  font-size: 40pt;
  font-family: "Open Sans", sans-serif;
  align-self: flex-end;
}

.rightSections img {
  align-self: flex-start;
}

.leftSections img {
  align-self: flex-end;
}

p {
  font-size: 20pt;
  font-family: "Open Sans", sans-serif;
}

a,
p,
h2,
li {
  font-family: "Open Sans", sans-serif;
  color: #3e456c;
  text-justify: auto;
}
